@import url('https://fonts.googleapis.com/css?family=Raleway');

.product-container{
    font-family: 'Raleway', sans-serif;
    /* background-color: whitesmoke; */
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./image.png')
}

.filter-label{
    /* font-weight: bold; */
    color: black
}

.collection {
    display: flex;
    justify-content: center
    /* flex-direction: row-reverse */
}

.main-product-container{
    color: rgb(203, 203, 203);
    font-family: 'Raleway', sans-serif;
    /* background-color: rgb(203, 203, 203); */
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./image.png');
    background-size: cover
   
}

.collection-container{
    border: 1px solid black;
    /* border-radius: 5px; */
    margin: 10px;
    padding: 5px;
    background-color: whitesmoke;
    color: black;
    width: 55%;
}

.drink-build{
    border: 1px solid black;
    margin: 30px
}

.user-name {
    color: black;
    border-top: .5px solid gray;
    border-bottom: .5px solid gray;
    text-shadow: 0 0 3px white
}

.drink-card{
    color: black;
    background-color:whitesmoke;
    /* border-radius: 5px; */
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    width: 40%
    
}

.card{
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
}

.card > form{
    display: flex;
    flex-direction: column;
}

.card h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.nav-bar{
    font-family: 'Raleway', sans-serif;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    /* border-radius: 5px; */
    background-color: whitesmoke
}
.nav-bar-left{
    /* background-color: gray; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 4px;
    padding-left: 4px;
    /* border: 1px solid grey */
}

.form-item{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 16rem;
    border: 1px solid grey;
    color: black
}

::placeholder {
    color:black;
    font-size: 16px;
    font-weight: lighter
}



.form-submit{
    font-family: 'Raleway', sans-serif;
    height: 35px;
    color: #fff;
    background-color: #3e49c1;
    border: 1px solid black;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}

.item-submit{
    font-family: 'Raleway', sans-serif;
    margin: 2px;
    /* padding: 1px; */
    color: #fff;
    background-color: #3e49c1;
    border: 2px;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}

.item-submit:hover{
    opacity: 0.6
}

.form-submit:hover{
   opacity: 0.6;
}

.login-submit{
    font-family: 'Raleway', sans-serif;
    height: 35px;
    color: #fff;
    background-color: #3e49c1;
    border: 1px solid black;
    margin: 1px;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}
.login-submit:hover{
   opacity: 0.6;
}

input[type=text]{
    font-weight: bold;
    font-size: 16px
}